[defaults]
inventory = inventory/hosts.ini
vault_identity_list = bastion@../../../.vault_pass.bastion.txt,vps@../../../.vault_pass.vps.txt,worker@../../../.vault_pass.worker.txt
host_key_checking = False
